@font-face {
    font-family: valorant;

    src: url(fonts/Valorant\ Font.ttf) format('truetype');
}

* {
    font-family: valorant;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(/images/1329687.jpg);
    background-repeat: no-repeat;
    background-size: cover
}

.vandal--info {
    width: 100%;
    height: 200px;
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}



.vandal--title {
    display: flex;
    margin-top: 30px;
    font-size: 20px;
}

.skins--conteiner {
    display: flex;
}

.ranking--skins {
    width: 25%;
    height: 520px;
    background-color: blue;
}

.vandal--video {
    width: 32.5%;
    height: 500px;
    background-color: orange;
    align-items: center;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.conteiner--carrousel {
    width: 99.1vw;
    height: 270px;
    background-color: pink;
    display: flex;
    align-items: center;
}

.conteiner--carrousel img {
    height: 50px;
    width: 50px;
    padding: 15px;
}

.vandal--carrousel {

    width: 95%;
    height: 185px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.vandal--thumb {
    width: 327px;
    height: 180px;
    background-repeat: no-repeat;
    background-size: 330px;
    background-position: center;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 0px 4px 8px;

}

.vandal--colors {
    width: 42.5%;
    height: 500px;
    background-color: yellow;
    display: flex;
    flex-direction: row;
}

.vandal-color-available {
    height: 150px;
    width: 300px;
    border: 1px black solid;
    margin: 15px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px;
}

.vandals-chromas {
    background-color: aquamarine;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    justify-self: center;
    height: 520px;
}

.btn-choose button {
    width: 200px;
    height: 60px;

}

.available-chromas {
    display: grid;
    grid-template-columns: 350px 350px;
}


.available-title h1 {
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 25px;

}

.top5-sentence {
    font-size: 25px;
}

.vandal--video h1 {
    font-size: 25px
}

.vandals-chromas {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vandal--thumb {
    cursor: pointer;
}

.btn-prev,
.btn-next {
    cursor: pointer;
}

.vandal-color-available {
    background-repeat: no-repeat;
    background-size: 330px;
    background-position: center;
}

.selector {
    display: none;
}

.vandal-color-available {
    cursor: pointer;
}

.top-5 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tops {
    border: 1px solid black;

    box-shadow: 8px 0px 10px;
    height: 90px;
    width: 350px;
    display: flex;
    align-items: flex-end;
    background-repeat: no-repeat;
    background-size: 250px;
    background-position: center;
    margin: 0px;

}

.rank-position {
    background-color: white;
    width: 25px;
    height: 25px;
}

.vandal--name {

    background-color: red;
    width: 100%;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    height: 12PX;

}

.btn--excluir {
    height: 100%;
}

.conteiner-top5 {
    display: flex;
    flex-direction: column;
}

.ranking--skins {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.top5-sentence {
    margin-bottom: 10px;
}

.done {
    margin-top: 10px;
}

.selected {
    border: 3px green solid;
}

.done {
    display: none;
}

.vandal--selected {
    display: none;

}